 /*
  _____ ___ ____   _____  _    ____   _____ ___  _____ ____ ___ _____ 
 |_   _|_ _/ ___| |_   _|/ \  / ___| |_   _/ _ \| ____/ ___|_ _| ____|
   | |  | | |       | | / _ \| |       | || | | |  _| \___ \| ||  _|  
   | |  | | |___    | |/ ___ \ |___    | || |_| | |___ ___) | || |___ 
   |_| |___\____|   |_/_/   \_\____|   |_| \___/|_____|____/___|_____|

  Javascript and logic: Indre Kvedaraite
  Visual Stuffs, html/css: Victor Evertsson Heijler
  Version: 0.1
  Date: 2015-06-11
*/

/* Html and body
–––––––––––––––––––––––––––––––––––––––––––––––––– */
html {
	background-color: hsl(210,65%, 58%); /* Background */
}

body {
	color: hsla(0, 0%, 0%, 0.4); /* Text color */
	font-family: verdana, sans-serif; /* Font family */
	transition:all 0.5s ease;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Signika', sans-serif; /* Font family */
}

/* Logo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.logo {
	color:hsla(0,0%,100%,0.7);
}

.logo img {
	float:left;
	padding-right: 30px;
	margin-top:7px;
}

.logo img:hover {
	animation: pulse 1s;
}

/* Mark Selection
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.mark-select {
	text-align: center;
	margin-top:60px;
}

.mark-select div {
	background-color: hsla(0,0%,0%,0.2);
	padding: 60px 0;
}

.choose {
	display:inline;
	padding: 60px 50px;
}

.choose:hover {
	cursor:pointer;
	text-decoration: underline;
}

.either-or {
	pointer-events: none;
	color:hsla(0, 0%, 100%, 0.7);
	width: 0;
	position: absolute;
	left:47%;
	top:44%;
	font-family:'Signika', sans-serif;
	font-size: 3rem;
}

/* Notifications
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.notification {
	min-width:100%;
	min-height:100%;
	position: absolute;
	top:0;
	background-color: hsla(0,0%,0%,0.1);
	text-align: center;
}

.notification div {
	background-color: hsla(0,0%,100%, 0.9);
	padding: 70px;
	position:relative;
	max-width: 50%;
	max-height: 10%; 
	top:170px;
	margin:0 auto;
}

.notification p {
	display:inline;
	border-radius:4px;
	border: 2px solid hsla(0,0%,0%,0.3);
	background-color: hsl(210,65%, 58%);
	padding:12px 25px;
	color:hsla(0,0%,100%,0.9);
}

.notification p:hover {
	cursor:pointer;
}

/* Tiles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.tile {
	width: 33.3333333333%;
	padding-bottom: 32%; /* To keep tiles square */
	background: transparent url(../img/1x1.gif) no-repeat center center;
	transition: background-image 0.1s ease;
}

/* Borders
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#tile-1 { border-bottom:2px solid hsla(0, 0%, 0%, 0.4);  border-right:2px solid hsla(0, 0%, 0%, 0.4);                                               }
#tile-2 {   border-left:2px solid hsla(0, 0%, 0%, 0.4); border-bottom:2px solid hsla(0, 0%, 0%, 0.4);  border-right:2px solid hsla(0, 0%, 0%, 0.4); }
#tile-3 {   border-left:2px solid hsla(0, 0%, 0%, 0.4); border-bottom:2px solid hsla(0, 0%, 0%, 0.4);                                               }

#tile-4 {    border-top:2px solid hsla(0, 0%, 0%, 0.4);  border-right:2px solid hsla(0, 0%, 0%, 0.4); border-bottom:2px solid hsla(0, 0%, 0%, 0.4); }
#tile-5 {        border:2px solid hsla(0, 0%, 0%, 0.4);                                                                                             }
#tile-6 {    border-top:2px solid hsla(0, 0%, 0%, 0.4); border-bottom:2px solid hsla(0, 0%, 0%, 0.4);   border-left:2px solid hsla(0, 0%, 0%, 0.4); }

#tile-7 {    border-top:2px solid hsla(0, 0%, 0%, 0.4);  border-right:2px solid hsla(0, 0%, 0%, 0.4);                                               }
#tile-8 {   border-left:2px solid hsla(0, 0%, 0%, 0.4);    border-top:2px solid hsla(0, 0%, 0%, 0.4);  border-right:2px solid hsla(0, 0%, 0%, 0.4); }
#tile-9 {    border-top:2px solid hsla(0, 0%, 0%, 0.4);   border-left:2px solid hsla(0, 0%, 0%, 0.4);                                               }

/* Marks
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.cross        {  background:url(../img/cross.png) no-repeat center center;}
.circle       {  background:url(../img/circle.png) no-repeat center center;}

.cross-hover  {  background:url(../img/cross-hover.png) no-repeat center center;}
.circle-hover {  background:url(../img/circle-hover.png) no-repeat center center;}

.cross-win    {  background:url(../img/cross-win.png) no-repeat center center;}
.circle-win   {  background:url(../img/circle-win.png) no-repeat center center;}

@media (max-width: 400px) {
	.cross, .circle, .cross-hover, .circle-hover, .cross-win, .circle-win {
		background-size: 60%;
	}
}

 /* Score module
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.score-hr {
	margin-bottom:0;
	border-top: 2px solid hsla(0, 0%, 0%, 0.4);
}

.score {
	color:hsla(0, 0%, 100%, 0.7);
	margin:0 10px;
}

 /* Chat bubble
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#chatBubble {
	border-top: 2px solid hsla(0,0%,0%,0.4);
	width: 111px;
	padding:8px;
	position:absolute;
	top:79%;
	right:2%;
	text-align: right;
	pointer-events:none;
}


 /* Show & Hide
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.show {
    opacity:1;
}
.hide {
     opacity: 0;
     display:none;
}

 /* Animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.fade-in {
	animation: fadein 2s;
}

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

.pulse {
	animation: pulse 1s;
}

@keyframes pulse {
	0% {
    transform: scale3d(1, 1, 1);
  	}

	50% {
		transform: scale3d(1.2, 1.2, 1.2);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

.flip {
	animation: flip 1s;
}

@keyframes flip {
	0% {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;

  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  100% {
    transform: perspective(400px);
  }
}